.box {
  display: inline-block;
  background-color: #5A5698;
  box-shadow: 10px 10px 10px #000;
  border-radius: 5em;
  text-align: center;
  padding: 21px 113px 31px 113px;
}

.box .title {
  margin-bottom: 18px;
}

