.link {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 10px;
    margin-right: 20px;
    border-radius: 2em;
    transition: color .3s ease-in-out, box-shadow .8s ease-in-out;
}

.link:hover {
    box-shadow: inset 200px 0 0 0 #Fff;
    color: #141517;
    border-radius: 2em;
   
}

.link::before {
    content: "";
    background-color: #D0878B;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 5em;
}